<h1 class="block-center">Anmälan är mottagen</h1>

<p>Följande personer är anmälda till Öjersjö- och Furulundskyrkan församlingsläger 29 sep - 1 okt 2017 e Kr - Jag och mitt hus vill följa Herren</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Namn</th>
            <th>Ålder</th>
            <th>Boende</th>
        </tr>
    </thead>
    <tbody>
        <% @registration.people.each do |p|  %>
        <tr>
            <td><%= p.name %></td>
            <td><%= p.age_group %></td>
            <td><%= p.accommodation %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<p><b>Glöm inte att betala till EFS via Swish eller Bankgiro</b></p>
<p>Att betala: <%= @registration.total_price %> kr<br/>
Swish-konto: 123 657 1236<br/>
Plusgiro EFS-föreningen: 60 85 38 - 5<br/>
Ange namn och telefonnummer vid betalning.</p>

<h2>Lägerinformation</h2>
<p>Jag och mitt hus vill följa Herren. Detta är temat för årets församlingsläger. Josuas avskedstal till folket efter att israeliterna intagit landet inhåller både en uppmaning och vittnar samtidigt om en brinnande längtan efter liv med Herren. Vi hoppas på att vi tillsamman ska få fördjupas och växa i vår tro den här helgen. Vi hoppas även kunna få fördjupa våran gemenskap, vänskap och syskonkärlek. Vi önskar också ägna tid åt att fundera på vad som är våra kärnvärderingar, vad är våran vision, hur vill vi bygga församling? Vi ska få höra ett spännande föredrag från några som jobbat med detta och kommit en bit på vägen... Jättekul att just DU vill vara med och göra denna helgen tillsammans oavsett om du är en gammal räv eller ny i våra sammanhang!</p>
<p>Vi kommer för andra året i rad hålla till på Ungdom Med Uppgifts missionsbas i Restenäs utanför Ljungskile. Restenäs är en kristen gård med en internationell karaktär och tydligt missionsfokus där ca 50-80 personer bor och arbetar och studerar. Där finns det stora lokaler, vacker natur, hav och helpension till ett bra pris. Vi hoppas på rikigt bra uppslutning!</p>
<p>I priserna ingår lägeravgift, all mat och boende, priset varierar beroende på vilket boendealternativ du väljer och som är tillgängligt. Då Restnäs inte rymmer oss alla har vi preliminärbokat rum på Åh Stiftsgård 5 km norr om Restnäs. Vi kommer tillämpa "Först-till-kvarn"-principen. Anmälan är bindande och du kommer direkt att se vilka boendealternativ som är tillgängliga.</p>
<p>Ni som var med förra året noterar kanske att priset stigit jämfört med förra året och det beror på ett par anledningar. Dels har vi valt att höja matstandarden samt att Restenäs har höjt sina priser för att bättre kunna ta hand om sina många byggnader.</p>
<p>Har du tillgång till husvagn (eller tält) så vill vi gärna att du väljer det för att så många som möjligt ska få plats! Furulundskyrkan har militärtält som vi kan ta med om någon tycker det verkar kul.</p>
<p>Golvlogi i klassrum på Restenäs är ett bra och trevligt budgetalternativ. Familjer som väljer detta alternativ kan vi ordna eget klassrum/rum åt.</p>
<p>Boende på Åh: Åh är Göteborgs Stifts lägergård som ligger 5 km norr om Restenäs. Boendet där håller hotellstandard och en högklassig frukost på Åh ingår.</p>
<p>//Planeringsgruppen<br/>
    Kristoffer Sten, Jill Kjellberg, Christina Lycke-Lind, Stig Östfjord och Josef Egfors</p>
