<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :age_group %>
    <%= f.collection_select :age_group_id, AgeGroup.all, :id, :title, { include_blank: "--Välj ålder--" } %>
  </div>

  <div class="field">
    <%= f.label :age_group_accommodation_id %>
    <%= f.select :age_group_accommodation_id, [] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
