<%= form_for :session, url: admin_session_path, html: {class: "form-signin"} do |form| %>
    <h2 class="form-signin-heading">Logga in</h2>
    <%= form.label :email, class: "sr-only" %>
    <%= form.email_field :email, class: "form-control", placeholder: "E-post adress", required: true, autofocus: true %>
    <%= form.label :password, class: "sr-only" %>
    <%= form.password_field :password, class: "form-control", placeholder: "Lösenord", required: true %>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Logga in</button>
<% end %>
