<% content_for :title, 'Admin' %>
<div class="row">
    <div class="col-sm-3 col-sm-offset-2">
        <ul class="list-group">
            <li class="list-group-item active">Åldersgrupper</li>
            <% @age_groups.each do |g| %>
                <li class="list-group-item">
                    <span class="badge"><%= g.last %></span>
                    <%= g.first %>
                </li>
            <% end %>
            <li class="list-group-item default">
                <span class="badge"><%= @total %></span>
                <b>Totalt</b>
            </li>
        </ul>
    </div>

    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item active">Boende</li>
            <% @accommodations.each do |a| %>
                <li class="list-group-item">
                    <span class="badge"><%= a.last %></span>
                    <%= a.first %>
                </li>
            <% end %>
        </ul>
    </div>
</div>