<%= form_for(age_group_accommodation) do |f| %>
  <% if age_group_accommodation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(age_group_accommodation.errors.count, "error") %> prohibited this age_group_accommodation from being saved:</h2>

      <ul>
      <% age_group_accommodation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :age_group_id %>
    <%= f.collection_select :age_group_id, AgeGroup.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :accommodation_id %>
    <%= f.collection_select :accommodation_id, Accommodation.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
