<h1>Editing Age Group Accommodation</h1>

<%= render 'form', age_group_accommodation: @age_group_accommodation %>

<%= link_to 'Show', @age_group_accommodation %> |
<%= link_to 'Back', age_group_accommodations_path %>
