<p id="notice"><%= notice %></p>

<h1>Age Group Accommodations</h1>

<table>
  <thead>
    <tr>
      <th>Age group</th>
      <th>Accommodation</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @age_group_accommodations.each do |age_group_accommodation| %>
      <tr>
        <td><%= age_group_accommodation.age_group %></td>
        <td><%= age_group_accommodation.accommodation %></td>
        <td><%= age_group_accommodation.price %></td>
        <td><%= link_to 'Show', age_group_accommodation %></td>
        <td><%= link_to 'Edit', edit_age_group_accommodation_path(age_group_accommodation) %></td>
        <td><%= link_to 'Destroy', age_group_accommodation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Age Group Accommodation', new_age_group_accommodation_path %>
