<p id="notice"><%= notice %></p>

<p>
  <strong>Age group:</strong>
  <%= @age_group_accommodation.age_group %>
</p>

<p>
  <strong>Accommodation:</strong>
  <%= @age_group_accommodation.accommodation %>
</p>

<p>
  <strong>Price:</strong>
  <%= @age_group_accommodation.price %>
</p>

<%= link_to 'Edit', edit_age_group_accommodation_path(@age_group_accommodation) %> |
<%= link_to 'Back', age_group_accommodations_path %>
