<p id="notice"><%= notice %></p>

<h1>Accommodations</h1>
<% if defined?(@accommodations) %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accommodations.each do |accommodation| %>
      <tr>
        <td><%= accommodation.title %></td>
        <td><%= accommodation.description %></td>
        <td><%= link_to 'Show', accommodation %></td>
        <td><%= link_to 'Edit', edit_accommodation_path(accommodation) %></td>
        <td><%= link_to 'Destroy', accommodation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= @age_group_accommodations.count %>

<% if defined?(@age_group_accommodations) %>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @age_group_accommodations.each do |v| %>
      <tr>
        <td><%= v.id %></td>
        <td><%= v.accommodation.title %></td>
        <td><%= v.price %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%=  %>

<br>

<%= link_to 'New Accommodation', new_accommodation_path %>
