<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @accommodation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @accommodation.description %>
</p>

<%= link_to 'Edit', edit_accommodation_path(@accommodation) %> |
<%= link_to 'Back', accommodations_path %>
