<%= form_for registration, url: local_assigns.fetch(:is_admin, false) ? admin_registration_path(registration) : registrations_path(anchor: 'form'), html: {class: "form-horizontal"} do |f| %>
  <% if registration.errors.any? %>
      <h4 class="text-danger text-center">Vissa uppgifter saknas! Vänligen fyll i och skicka anmälan igen.</h4>
  <% end %>
  <fieldset class="deltagare">
    <legend>Deltagare</legend>
  
      <%= f.fields_for :people do |person| %>
        <div class="form-group">
          <%= person.label :firstname, "Deltagare #{person.index+1}", class: "control-label col-md-2" %>
          <div class="col-md-2">
            <%= person.text_field :firstname, class: "form-control", placeholder: "Förnamn"  %>
          </div>
          <%= person.label :lastname, "Efternamn", class: "control-label sr-only" %>
          <div class="col-md-2">
            <%= person.text_field :lastname, class: "form-control", placeholder: "Efternamn" %>
          </div>
          <%= person.label :age_group_id, "Ålder", class: "control-label sr-only" %>
          <div class="col-md-2">
            <%= person.collection_select :age_group_id, AgeGroup.all , :id, :title, { include_blank: "-- Välj ålder --" }, {class: "person_age_groups form-control", label: "Ålder"} %>
          </div>
          <%= person.label :age_group_accommodation_id, "Boende", class: "control-label sr-only" %>
          <div class="col-md-4">
            <%= person.grouped_collection_select :age_group_accommodation_id, @age_group_accommodations, :age_group_accommodations, :title, :id, :title_with_places_left, {include_blank: "-- Välj boende --", disabled: AgeGroupAccommodation.disabled }, {class: "person_accommodations form-control", label: "Boende"} %>
          </div>
          <% if person.index == 0 %>
            <%= person.label :accommodation_id, "Boende", class: "control-label sr-only" %>
            <div class="col-md-4">
              <%= person.collection_select :accommodation_id, Accommodation.where.not(family_price: nil).order(:sort_order), :id, :title_with_family_price, {include_blank: "-- Välj boende --", disabled: Accommodation.disabled }, {class: "form-control", label: "Boende"} %>
            </div>          
          <% end %>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-md-3 col-md-offset-6 col-xs-6 checkbox">
          <label>
            <%= f.check_box :family %>Vi vill ha familjepris
          </label>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <legend>Robin Hood kassan</legend>
      <div class="row">
        <div class="col-xs-12">
          <p>Här kan du välja att antingen betala lite extra till en gemensam kassa eller att få lägeravgiften helt eller delvis betald från den gemensamma kassan.
          Detta för att hjälpa dig som känner att du inte har råd att vara med på lägret annars.</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <div class="radio">
            <label>
              <%= f.radio_button :robin_hood_fond_transaction_sign, "1", id: "sign_plus" %>Jag kan bidra med 200, 500 eller 1000 kr till Robin Hood-kassan för att hjälpa den som inte har lika gott ställt att kunna följa med!
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :robin_hood_fond_transaction_sign, "-1", id: "sign_minus" %>Jag är behov av bidrag från Robin Hood-kassan till min lägeravgift 500 kr, 1000 kr eller hela lägeravgiften.
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :robin_hood_fond_transaction, "Belopp", class: "control-label col-sm-2" %>
        <div class="col-sm-2">
          <div class="input-group">
            <%= f.number_field :robin_hood_fond_transaction, min:0, step: 10, class: "form-control" %>
            <span class="input-group-addon">kr</span>
          </div>
        </div>
        <span class="help-block">Ange ev bidrag till/från Robin Hood-kassan eller lämna tomt</span>
      </div>
      <div class="form-group">
        <label style="font-size: 14pt" class="control-label col-sm-2">Att betala</label>
        <div class="col-sm-2">
          <p class="form-control-static"><span style="font-size: 14pt" id="total">0 kr</span></p>
        </div>
        <span class="help-block" style="margin-top: 10px">inkl. lägeravgift och ev bidrag till/från Robin Hood kassan</span>
      </div>
  </fieldset>

  <fieldset>
    <legend>Adress m.m.</legend>
      <div class="form-group">
        <%= f.label :address, "Postadress", class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
          <%= f.label :postcode, "Postnr", class: "control-label col-sm-2" %>
          <div class="col-sm-2">
            <%= f.text_field :postcode, class: "form-control" %>
          </div>
          <div class="visible-xs-block margin-bottom"></div>
          <%= f.label :city, "Postort", class: "control-label col-sm-1" %>
          <div class="col-sm-5">
            <%= f.text_field :city, class: "form-control" %>
          </div>
      </div>

      <div class="form-group">
        <%= f.label :phone, "Telefon", class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_field :phone, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, "E-post", class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :other, "Övrigt, t.ex. allergi", class: "control-label col-sm-2" %>
        <div class="col-sm-8">
          <%= f.text_area :other, class: "form-control" %>
        </div>
      </div>
  </fieldset>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <%= f.button submit_label, type: "submit", class: "btn btn-default" %>
      <% if local_assigns.fetch :is_admin, false %>
        <%= link_to 'Tillbaka', admin_registrations_path, class: 'btn btn-default' %>
      <% end %>
    </div>
    <% if local_assigns.fetch(:is_admin, false) && registration.persisted? %>
      <div class="col-sm-offset-4 col-sm-1">
        <%= link_to 'Ta bort', admin_registration_path(registration), method: :delete, data: { confirm: 'Är du säker?' }, class: 'btn btn-danger' %>
    </div>
    <% end %>
  </div>
<% end %>
