<% content_for :title, 'Anmälan mottagen' %>
<h1 class="block-center">Anmälan är mottagen</h1>

<p>Följande personer är anmälda till Öjersjö- och Furulundskyrkan församlingsläger 29 sep - 1 okt 2017 e Kr - Jag och mitt hus vill följa Herren</p>

<div class="row">
    <div class="col-md-8">    

        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Namn</th>
                    <th>Ålder</th>
                    <th>Boende</th>
                </tr>
            </thead>
            <tbody>
                <% @registration.people.each do |p|  %>
                <tr>
                    <td><%= p.name %></td>
                    <td><%= p.age_group %></td>
                    <td><%= p.accommodation %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<h4>Glöm inte att betala till EFS via Swish eller Bankgiro</h4>
<p>Att betala: <%= @registration.total_price %> kr<br/>
Swish-konto: 123 657 1236<br/>
Plusgiro EFS-föreningen: 60 85 38 - 5<br/>
Ange namn och telefonnummer vid betalning.</p>
