<% content_for :title, 'Anmälningar' %>
<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="min-width:9rem">Deltagare 1</th>
                <th style="min-width:13rem">Adress</th>
                <th>Telefon/E-post</th>
                <th>Familj</th>
                <th>Antal deltagare</th>
                <th>Att betala</th>
                <th>Övrigt</th>
                <th style="min-width:9rem">Anmäld</th>
                <th>Redigera</th>
                <th style="min-width:6rem">Ta bort</th>
            </tr>
        </thead>
        <tbody>
            <% @registrations.each do |r| %>
                <tr>
                    <td><%= r.people.first.firstname + " " + r.people.first.lastname %></td>
                    <td><%= r.address %><br/><%= r.postcode %> <%= r.city %></td>
                    <td><%= r.phone %><br/><%= mail_to r.email %></td>
                    <td><%= r.family ? 'Ja' : 'Nej' %></td>
                    <td><%= r.people.size %></td>
                    <td><%= r.total_price %></td>
                    <td><%= r.other %></td>
                    <td><%= r.created_at.localtime.strftime("%F<br/>%T").html_safe %></td>
                    <td><%= link_to 'Redigera', edit_admin_registration_path(r) %></td>
                    <td><%= link_to 'Ta bort', admin_registration_path(r), method: :delete, data: { confirm: 'Är du säker?' } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
