<% content_for :title, 'Deltagare' %>
<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Åldersgrupp</th>
                <th>Boende</th>
                <th>Redigera</th>
            </tr>
        </thead>
        <tbody>
            <% @people.each do |p| %>
                <tr>
                    <td><%= p.firstname %></td>
                    <td><%= p.lastname %></td>
                    <td><%= p.age_group %></td>
                    <td><%= p.accommodation %></td>
                    <td><%= link_to 'Redigera', edit_admin_registration_path(p.registration) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
