.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 40px auto;

	.form-signin-heading, .checkbox {
		margin-bottom: 10px;
	}

	.checkbox {
		font-weight: normal;
	}

	.form-control {
		position: relative;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
	}

	.form-control:focus {
		z-index: 2;
	}

	input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
