// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c646e+0,1c93b9+100 */
    background: rgb(12,100,110); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(12,100,110,1) 0%, rgba(28,147,185,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(12,100,110,1) 0%,rgba(28,147,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(12,100,110,1) 0%,rgba(28,147,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c646e', endColorstr='#1c93b9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div.container {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px; 
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

fieldset.deltagare {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4 {
        padding-left: 0px;
        padding-right: 4px;
    }
}

.margin-bottom {
    margin-bottom: 15px;
}