<% content_for :head do %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
<% end %>

<% content_for :header do %>
    <div class="header">
        <%= image_tag("banner.png", alt: "Furulundskyrkans och Öjersjökyrkans församlingsläger", class: "center-block img-responsive") %>     
    </div>
<% end %>

<% content_for :content do %>
    <%= yield %>
<% end %>

<%= render template: "layouts/application" %>